* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
  height: 100%;
  background-color: #eaecf0;
}

/* LIGHT/DARK MODE TOGGLE */
.checkbox {
  height: 30px;
  width: 60px;
  background: #fff;
  appearance: none;
  border-radius: 30px;
  box-shadow: inset 0 2px 20px rgba(0, 0, 0, 0.1),
    inset 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 -2px 2px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 5px;
  right: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.checkbox::before {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: #f1c40f;
  border-radius: 50%;
  transform: scale(0.9);
  transition: 0.5s;
  box-shadow: 0 0 15px #f1c40f, 0 0 30px #f39c12,
    inset 2px 2px rgba(255, 255, 255, 0.8),
    inset -2px -2px rgba(255, 255, 255, 0.5);
}

.checkbox:checked {
  background: #222;
  box-shadow: inset 0 4px 20px rgba(0, 0, 0, 0.1),
    inset 0 4px 4px rgba(0, 0, 0, 0.1), inset 0 -2px 2px rgba(0, 0, 0, 0.1);
}

.checkbox:checked::before {
  left: 30px;
  background: #222;
  box-shadow: inset -10px 0 0 0 #ffffff;
}

.checkbox::after {
  content: none;
}

/* Dashboard */
a {
  text-decoration: none;
  color: #eaecf0;
}

.container {
  display: flex;
  height: 100vh;
}

aside {
  width: 300px;
  background-color: #0f1222;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
}

.webaristo-logo {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.menu {
  margin-top: 20px;
}

.menu div {
  display: flex;
  align-items: center;
  transition: background-color 0.5s;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  margin: 5px 10px 0 10px;
}

.menu div img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.menu div h4 {
  font-size: 1rem;
  margin: 0;
}

.menu div:hover {
  background-color: #0062ff;
}
